@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

body {
    height: 100vh;
    background-color: beige;
    box-sizing: border-box;
    font-family: 'Host Grotesk', sans-serif, 'Times New Roman', Times, serif;
}

.site_wrap {
    max-width: 90%;
    background-color: yellow;
    margin: 0 auto;
}

.section_1, .section_2, .section_3, .section_4, .footer {
    padding: 0px 150px 0px 150px;
    display: flex;
}

.section_1 {
    background-color: aliceblue;
    flex-direction: column;
    
}

.header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 80px;
}

.content_1 {
    background-color: aqua;
    margin-bottom: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.left {
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left h1 {
    font-size: 40px;
    font-weight: 800;
}

.left p {
    max-width: 400px;
}

button {
    width: 120px;
    height: 30px;
}

.image_placeholder {
    width: 600px;
    height: 250px;
    background-color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
}


h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
}
