body {
    height: 100vh;
    background-color: beige;
    box-sizing: border-box;
}

.site_wrap {
    max-width: 90%;
    background-color: yellow;
    margin: 0 auto;
}

.section_1, .section_2, .section_3, .section_4, .footer {
    padding: 0px 150px 0px 150px;
    display: flex;
}

.section_1 {
    flex-direction: column;
}


