body {
    height: 100vh;
    background-color: beige;
    box-sizing: border-box;
}

.site_wrap {
    max-width: 90%;
    background-color: yellow;
    margin: 0 auto;
}

.section_1, .section_2, .section_3, .section_4, .footer {
    padding: 0px 150px 0px 150px;
    display: flex;
}

.section_1 {
    flex-direction: column;
}

.header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_1 {
    background-color: aqua;
    display: flex;
}

.image_placeholder {
    width: 400px;
    height: 200px;
    background-color: red;
}

.left {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
